<!DOCTYPE html>
<html>
  <head>
    <title>News Scrapping API</title>
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 90vh;">
    <h1>Welcome to the News Scrapping API</h1>
    <h2 style="font-weight: 300; padding-bottom: 30px;">
      Here you can find the latest news from the most popular news websites.
    </h2>
    <div style="display: flex; gap: 40px;">
      <a href="/latest-news" style="display: flex; padding: 10px; justify-content: center; align-items: center; text-decoration: none; background:#262626; border-radius: 10px; font-size: 22px; color: whitesmoke;">Latest News</a>
      <a href="/top-news" style="display: flex; padding: 10px; justify-content: center; align-items: center; text-decoration: none; background:#262626; border-radius: 10px; font-size: 22px; color: whitesmoke;">Top News</a>
    </div>
  </body>
</html>
